.SkillSets_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

@media screen and (max-width: 650px){
    .SkillSets_Container {
        display: flex;
        flex-wrap: nowrap;
        overflow-y:auto;
        padding: 10px;
        justify-content: flex-start;

             
    }
}

    
